{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block title %}{% trans 'Statuses' %}{% endblock %}

{% block content %}

      <h1 class="my-4">{% trans 'Statuses' %}</h1>
 <a href="{% url 'status_create' %}" class="btn btn-primary">{% trans 'Create status' %}</a>
  <br>
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th>ID</th>
              <th class="col-8">{% trans 'Name' %}</th>
              <th>{% trans 'Date of creation' %}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          {% for status in statuses %}

          <tr class="align-baseline">
              <td>{{ status.id }}</td>
              <td>{{ status.name }}</td>
              <td>{{ status.created_at|date:"d.m.Y H:i"  }}</td>
              <td>
                <a href="{% url 'status_update' status.pk%}" class="btn btn-primary">{% trans 'Edit' %}</a>
                <a href="{% url 'status_delete' status.pk%}" class="btn btn-danger">{% trans 'Delete' %}</a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

{% endblock %}