{% load i18n %}
{% load bootstrap_icons %}

<div class="container flex-column my-5 pt-4 border-top">
    <div class="row justify-content-center">
        <div class="col-auto link-dark">
            <a class="link-secondary" target="_blank" href="https://github.com/dzigr/python-project-52">
                {% trans 'Task Manager' %}</a>
        </div>
        <div class="col-auto">
                    {% bs_icon 'github' size='1.5rem' extra_classes='bi' %}
        </div>
        <div class="col-auto link-dark">
            <a class="link-secondary" target="_blank" href="https://github.com/dzigr">
                Made by Dzigr</a>
        </div>
    </div>
</div>