{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block title %}{% trans 'Tasks' %}{% endblock %}

{% block content %}

      <h1 class="my-4">{% trans 'Tasks' %}</h1>
         <a href="{% url 'task_create' %}" class="btn btn-primary">{% trans 'Create task' %}</a>

        <br>
        <br>

        <div class="card mb-3">
            <div class="card-body bg-light">
                <form class="form-inline center" method="get">
                  {% bootstrap_form filter.form field_class="ml-2 mr-3" %}
                    <button class="btn btn-primary" type="submit">{% trans 'Show' %}</button>
                </form>
            </div>
        </div>

        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th>ID</th>
              <th class="col-4">{% trans 'Name' %}</th>
              <th>{% trans 'Status' %}</th>
              <th>{% trans 'Author' %}</th>
              <th>{% trans 'Executor' %}</th>
              <th>{% trans 'Date of creation' %}</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
          {% for task in tasks %}

            <tr class="align-middle">
              <td>{{ task.id }}</td>
              <td><a href="{% url 'task_detail' task.pk %}">{{ task.name }}</a></td>
              <td>{{ task.status }}</td>
              <td>{{ task.author }}</td>
              <td>{{ task.executor }}</td>
              <td>{{ task.created_at|date:"d.m.Y H:i" }}</td>
              <td class="col-2">
                <a href="{% url 'task_update' task.pk %}" class="btn btn-primary">{% trans 'Edit' %}</a>
                <a href="{% url 'task_delete' task.pk %}" class="btn btn-danger">{% trans 'Delete' %}</a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
{% endblock %}